.user-container{
    background-color: antiquewhite;
    padding: 25px;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem;

}
#user-image{
    height: 300px;
    border-radius: 50%;

}